doctype html
html
  - var title= 'Галерея работ. Фотограф Анастасия Ерёмина. Семейный, детский и свадебный фотограф в Киеве'
  include ./_blocks/001.head.pug
  body.under-construction-body
    include ./_blocks/header.pug
    main.page-content
      h2.visually-hidden Основной контент сайта
      .gallery-header(style="background-image: url('./img/sl4.jpg')")
        h2.gallery-title Мои работы
      section.my-works
        .my-works__wrapp
          a(href="/gallery-album.html", data-url="family").my-works__item.my-works__item-js
            h3.item-title Семья и дети
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00001.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00001.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00001.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          a(href="/gallery-album.html", data-url="love").my-works__item.my-works__item-js
            h3.item-title Любовь и свадьбы
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')

    include ./_blocks/008.footer.pug
  
  //- ========= JAVASCRIPT =========

  //- script(src="js/scripts.js")
  <!--<Deject>-->
  script(src='./js/hamburger-menu.js')
  script(src='./js/back-to-top.js')
  script(src='./js/portfolio.js')
  script(src='./scripts/facebook-like-plugin.js')
  <!--</Deject>-->

  //- Не смог настроить асинхронную загрузку именно этого шрифта, поэтому загружаю его в конце, чтобы не блокировать стек
  //- link(href='https://fonts.googleapis.com/css?family=Roboto:100&subset=cyrillic', rel='stylesheet')