doctype html
html
  title Галерея работ. Фотограф Анастасия Ерёмина. Семейный, детский и свадебный фотограф в Киеве
  include ./_blocks/001.head.pug
  body
    include ./_blocks/header.pug
    main.page-content
      h2.visually-hidden Основной контент сайта
      .collection-cover
        picture.collection-cover-pic
          img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00001.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00001.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00001.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
        h1.collection-title Collection Title
        .collection-link-wrapp
          a(href="#start_collection").collection-link See More 
      #start_collection.collection-list
        .grid
          .grid-sizer
          //- a(href="img/Main-gallery/01.Newborn/gallery_x2_00001.jpg").grid-item
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00004.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00004.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00004.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          //- a(href="img/Main-gallery/01.Newborn/gallery_x2_00004.jpg").grid-item
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00001.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00001.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00001.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          //- a(href="img/Main-gallery/01.Newborn/gallery_x2_00005.jpg").grid-item
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00013.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00005.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          //- a(href="img/Main-gallery/01.Newborn/gallery_x2_00006.jpg").grid-item
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')
          .grid-item
            img.item-img(src='img/Main-gallery/01.Newborn/gallery_x1_00005.jpg', srcset='img/Main-gallery/01.Newborn/gallery_x1_00006.jpg 1x, img/Main-gallery/01.Newborn/gallery_x2_00006.jpg 2x', alt='Фотография галереи, фотограф: Анастасия Еремина')

    include ./_blocks/008.footer.pug
  
  //- ========= JAVASCRIPT =========

  script(src="js/scripts.js")

  <!--<Deject>-->
  script(src="lib/halkaBox.min.js")
  script(src="lib/masonry.min.js")
  script(src='js/hamburger-menu.js')
  script(src='js/back-to-top.js')
  script(src='js/gallery.js')
  script(src='js/masonry.js')
  script(src='scripts/facebook-like-plugin.js')
  <!--</Deject>-->

  //- Не смог настроить асинхронную загрузку именно этого шрифта, поэтому загружаю его в конце, чтобы не блокировать стек
  //- link(href='https://fonts.googleapis.com/css?family=Roboto:100&subset=cyrillic', rel='stylesheet')