head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title= title
  meta(name='keywords', content='Семейный фотограф Киев, семейная фотосессия, лавстори, фотокнига')
  meta(name='description', content='Семейный и детский фотограф в Киеве. Провожу семейные фотосессии, создаю красивые фотокниги')
  meta(name='author', content='Yeromin Dmytro')
  meta(name='p:domain_verify', content='19ba86ca00c7492bbe18ffdfc6805b05')
  //- Open graph:
  meta(property='og:title', content= title)
  meta(property='og:type', content='website')
  meta(property='og:image', content='http://www.anastasiiayeromina.com/img/logo-open-graph_968x504.jpg')
  meta(property='og:image:type', content='image/png')
  meta(property='og:url', content='http://www.anastasiiayeromina.com')
  meta(property='og:description', content='Семейный и детский фотограф в Киеве. Провожу семейные фотосессии, создаю красивые фотокниги')
  meta(property='og:site_name', content='anastasiiayeromina.com')
  meta(property='og:locale', content='uk_UA')
  meta(property='og:locale:alternate', content='ru_RU')
  meta(property='fb:app_id', content='‎113388405995435')
  meta(name='twitter:title', content= title)
  meta(name='twitter:card', content='summary')
  meta(name='twitter:image', content='http://www.anastasiiayeromina.com/img/logo-open-graph_968x504.jpg')
  meta(name='twitter:image:src', content='http://www.anastasiiayeromina.com/img/logo-open-graph_968x504.jpg')
  meta(http-equiv='X-UA-Compatible', content='IE=Edge')
  // Chrome, Firefox OS and Opera
  meta(name='theme-color', content='#fff')
  // Windows Phone
  meta(name='msapplication-navbutton-color', content='#fff')
  // iOS Safari
  meta(name='apple-mobile-web-app-status-bar-style', content='#fff')

  <!--<Deject>-->
  //- FONTS
  script(src='js/font-async.js')
  //- https://fonts.google.com/?query=Garamond&selection.family=Cormorant+Garamond|Open+Sans+Condensed:300,700&selection.subset=cyrillic
  //- <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans+Condensed:300,300i," rel="stylesheet">
  //- <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans+Condensed:300&amp;subset=cyrillic" rel="stylesheet">
  //- <link href="https://fonts.googleapis.com/css?family=Comfortaa:300|Open+Sans+Condensed:300&amp;subset=cyrillic" rel="stylesheet">
  //- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:100&amp;subset=cyrillic" rel="stylesheet">
  <!--</Deject>-->

  //- FavIcon
  link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
  link(rel='manifest', href='img/favicon/manifest.json')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')

  <!--<Deject>-->
  //- @if NODE_ENV='developer'
  link(rel='stylesheet', href='styles/main.css')
  //- @endif
  <!--</Deject>-->

  //- @if NODE_ENV='production'
  link(rel='stylesheet', href='css/main.css')
  //- @endif
