header.under-construction-header
  h1.visually-hidden= title
  .logo
    img.logo__image(src='img/Logo_new_1x.jpg', srcset='img/Logo_new_1x.jpg 1x, img/Logo_new.jpg 2x', alt='Фотограф Анастасия Еремина', title='Фотограф Анастасия Еремина', aria-hidden='true')
    a.logo__link(href='/')
  nav.main-nav(aria-label='Основное меню', itemscope='', itemtype='http://schema.org/SiteNavigationElement')
    .hamburger-wrap
      h2.hamburger-wrap__header.visually-hidden Меню
      .hamburger-wrap__box
        .hamburger-wrap__item.hamburger-wrap__first
        .hamburger-wrap__item.hamburger-wrap__second
        .hamburger-wrap__item.hamburger-wrap__third
    
    //- Main menu:
    ul.main-nav__list
      li.main-nav__list-item
        a.main-nav__link(href='about-me.html') Обо мне
      li.main-nav__list-item
        a.main-nav__link(href='gallery.html') Портфолио
      li.main-nav__list-item
        a.main-nav__link(href='services.html') Услуги
      li.main-nav__list-item
        a.main-nav__link(href='reviews.html') Отзывы
      li.main-nav__list-item
        a.main-nav__link(href='blog.html') Блог
      li.main-nav__list-item
        a.main-nav__link(href='contacts.html') Контакты
    
    //- Main-nav fixed:
    .main-nav__list--fixed
      .main-nav__logo-in-menu
        img.main-nav__image(src='img/Logo_new_1x.jpg', srcset='img/Logo_new_1x.jpg 1x, img/Logo_new.jpg 2x', alt="Логотип 'Фотограф Анастасия Еремина' ")
        a.main-nav__logo-link(href='/')
      ul.main-nav__list-box
        li.main-nav__list-item
          a.main-nav__link(href='about-me.html') Обо мне
        li.main-nav__list-item
          a.main-nav__link(href='gallery.html') Портфолио
        li.main-nav__list-item
          a.main-nav__link(href='services.html') Услуги
        li.main-nav__list-item
          a.main-nav__link(href='reviews.html') Отзывы
        li.main-nav__list-item
          a.main-nav__link(href='blog.html') Блог
        li.main-nav__list-item
          a.main-nav__link(href='contacts.html') Контакты